<table style="position:absolute;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:15000" ng-escape="close()">
	<tbody>
		<tr>
			<td style="vetical-align:middle;text-align:center;">
				<div style="background-color:rgba(255,255,255,0.95);padding:20px;width:{{width}}px;margin:0 auto;">
					<a href="#" ng-click="close()" class="angular-link pull-right">Close</a>
					<div class="dialog-content-placeholder">
						<!-- Dialog content is injected here -->
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
